QWidget {
    background-color: #FFFFFF;    
    color: #242424;
    font-size: 10pt;
    font-family: 'Segoe UI';
    border: 1px solid #EEEEEE;
}

QPushButton {
    border: 1px solid #003183;
    background-color: #00235E;
    color: #FFFFFF;
    padding: 5px;
    border-radius: 10px;
}

QPushButton:hover {
    background-color: #003183;    
}

QPushButton:pressed {
    background-color: #000000;    
}

QLineEdit {
    border: 1px solid #00235E;
    padding: 2px;
    margin: 2px;
}

QLineEdit:focus {
    border: 1px solid #003183;
}

QComboBox {
    border: 1px solid #00235E;
    padding: 2px;
}

QLabel {
    border: none;
}

QLabel:hover {
    color: #003183;
}