@media (max-width: 768px) {
    h1 {
        font-size: 64px;
    }
    
    h2 {
        font-size: 48px;
    }
    
    h3 {
        font-size: 36px;
    }
    
    h4 {
        font-size: 24px;
    }

    html {
        font-size: 14px;
    }

    body {
        margin-left: 3%;
        margin-right: 3%;
    }
}